<html>
<head>
    <script src="https://kit.fontawesome.com/93c54fe838.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="card-content">
    <div class="card-img">
        <img src={{card.imageUrl}} alt="">
    </div>
    <div class="card-body">
        
        <button type="button" [disabled]="clicked" (click)="setSelected(card);clicked=true;" class="btn-btn-primary">
        <img src="https://icons.iconarchive.com/icons/awicons/vista-artistic/24/add-icon.png" alt="">
        </button>
        <span *ngIf="isSelected()">
            <span ngNonBindable> In collection!</span>
        </span>
    
        <button type="button" [disabled]="clicked2" (click)="setSelectedForWishlist(card);clicked2=true;" class="btn-btn-primary">
            <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/24/star-icon.png" alt="">
        </button>
        <span *ngIf="isSelectedForWishList()">
            <span ngNonBindable> In Wishlist!</span>
        </span>
    </div>
</div>
<ul>
</ul>
</body>
</html>