
<div class="jumbotron">
    <h1 class="display-3">Explore All Available Trades</h1>
    <div class="form-group">
<ul></ul>
        <div class="btn-group" role="group" aria-label="Basic example">
        <input class="form-control" type="text" placeholder="Search by Name" #name>
        <ul></ul>
        <select class="form-control" #type>
          <option>All Types</option>
          <option>Water</option>
          <option>Fairy</option>
          <option>Darkness</option>
          <option>Fire</option>
          <option>Lightning</option>
          <option>Grass</option>
          <option>Fighting</option>
          <option>Psychic</option>
          <option>Dragon</option>
          <option>Metal</option>
          <option>Colorless</option>
          </select>
<ul></ul>
        <select class="form-control" #subtype>
              <option>All Subtypes</option>
              <option>Stadium</option>
              <option>MEGA</option>
              <option>V</option>
              <option>Item</option>
              <option>Level Up</option>
              <option>Stage 2</option>
              <option>BREAK</option>
              <option>Stage 1</option>
              <option>VMAX</option>
              <option>Rocket's Secret Machine</option>
              <option>Basic</option>
              <option>Pokémon Tool</option>
              <option>Technical Machine</option>
              <option>EX</option>
              <option>LEGEND</option>
              <option>Special</option>
              <option>TAG TEAM</option>
              <option>Rare Holo</option>
              <option>GX</option>
              <option>Supporter</option>
              <option>Restored</option>
              </select>
<ul></ul>
        <select class="form-control" #supertype>
                <option>All supertype</option>
                <option>Pokémon</option>
                <option>Energy</option>
                <option>Trainer </option>
                </select>
<ul></ul>
        <select class="form-control" #rarity>
                  <option>All Rarities </option>
                  <option>Rare</option>
                  <option>Rare Holo</option>
                  <option>Common</option>
                  <option>Uncommon</option>
                  <option>Rare Holo EX</option>
                  <option>Rare Holo GX</option>
                  <option>Rare Ultra</option>
                  <option>Rare Promo</option>
                  <option>Rare Secret</option>
                  <option>Rare Prime</option>
                  <option>V</option>
                  </select>
                  <ul></ul>
                  <input type="checkbox"  #wishlistcheck>
                  <label>Wishlist </label>
                  <ul></ul>
                  <ul></ul>
                  <input type="checkbox"  #friendscheck>
                  <label>Friends  </label>
                  <ul></ul>

        </div>
      
        <button type="button  " class="btn btn-success" (click)="filterTrade(name.value,supertype.value,type.value,subtype.value,rarity.value,wishlistcheck.checked,friendscheck.checked)">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/24/search-icon.png" alt="">
        </button>
    </div>

<div *ngIf=showTrades>
    <div class="row row-flex" *ngIf=showTrades>
        <app-tradecomponent *ngFor="let t of trades" [trade]="t" [postOffer]="postOffer"></app-tradecomponent>
    </div>
</div>


    <div class="row row-flex" *ngIf=showFilterTrade>
        <app-tradecomponent *ngFor="let t of trades" [trade]="t" [postOffer]="postOffer"></app-tradecomponent>
    </div>

    <div class="row row-flex" *ngIf=showPostOffer>
        <app-biddercard *ngFor="let c of userCollection" [card]="c" [setBidCard]="setBidCard"></app-biddercard>
    </div>
</div>