<div class="row" *ngIf="initialized">
    <div class="col-md-6	mx-auto  mt-5" *ngIf="user$ | async as user; else">
        <!-- form	card	login	with	validation	feedback	-->
        <div class="card" *ngIf="isAdmin(user.uid)">
            <div class="card-body">
                <h1 class="text-center">Add card</h1>
            </div>
            <div class="card-body">
                <form [formGroup]="registerCardForm" (ngSubmit)="addCard()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Add name...">
                    </div>
                    <div class="form-group">
                        <label for="image Url">Image Url</label>
                        <input type="text" class="form-control" formControlName="imageUrl" placeholder="Add picture url...">
                    </div>
                    <div class="form-group">
                        <label for="type">Id</label>
                        <input type="text" class="form-control" formControlName="id" placeholder="Add id...">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control mr-sm-2" class="form-control" formControlName="type">
                            <option>Water</option>
                            <option>Water</option>
                            <option>Fairy</option>
                            <option>Dark</option>
                            <option>Fire</option>
                            <option>Electric</option>
                            <option>Grass</option>
                            <option>Fighting</option>
                            <option>Psychic</option>
                            <option>Dragon</option>
                            <option>Steel</option>
                            <option>Colorless</option>
                            <option>Item</option>
                            <option>Supporter</option>
                            <option>Stadium</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Variant</label>
                        <select class="form-control mr-sm-2" formControlName="variant">
                            <option>Basic</option>
                            <option>Stage 1</option>
                            <option>Stage 2</option>
                            <option>BREAK</option>
                            <option>LEGEND</option>
                            <option>ex</option>
                            <option>EX</option>
                            <option>Mega-EX</option>
                            <option>GX</option>
                            <option>TAG TEAM</option>
                            <option>LV.X</option>
                            <option>Prime</option>
                            <option>SP</option>
                            <option>Star</option>
                            <option>V</option>
                            <option>VMAX</option>
                            <option>NonPokemon</option>
                            </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-block">Add</button>
                </form>
                <p></p>
                <p class="lead">
                    <a type="submit" class="btn btn-primary btn-lg" style="background: red;" role="button" (click)="navigateToDatabase()">Check Database!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=alert class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Database Updated!</strong> Card Added To Server Database!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>