<div class="row">
    <div class="col-md-6	mx-auto  mt-5" *ngIf="user$ | async as user; else">
        <!-- form	card	login	with	validation	feedback	-->
        <div class="card" *ngIf="isAdmin(user.uid)">
            <div class="card-body">
                <h1 class="text-center">Add card</h1>
            </div>
            <div class="card-body">
                <form [formGroup]="registerCardForm" (ngSubmit)="addCard()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Add name..." >
                    </div>
                    <div class="form-group">
                        <label for="image Url">Image Url</label>
                        <input type="text" class="form-control" formControlName="imageUrl" placeholder="Add picture url...">
                    </div>
                    <div class="form-group">
                        <label for="type">Id</label>
                        <input type="text" class="form-control" formControlName="id" placeholder="Add id...">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" formControlName="type" placeholder="Add type...">
                    </div>
                    <div class="form-group">
                        <label for="type">Variant</label>
                        <input type="text" class="form-control" formControlName="variant" placeholder="Add variant...">
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=alert class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Database Updated!</strong> Card Added To Server Database!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
