<div class="card mb-3">
    <h5 class="card-header" style="background-color: greenyellow;" [routerLink]="['/searchuser/', bid.bidderEmail]">Bid By {{bid.bidderEmail}}
    </h5>
    <div class="card-body">
        <h3 class="card-title">{{bid.card.name}} ({{bid.card.id}})</h3>
        <h4 class="card-subtitle text-muted"></h4>
    </div>
    <img style="height: 100%; width: 100%; display: block;" src={{bid.card.imageUrl}}>
    <div class="card-body">
        
           
            <div  *ngIf="bid.accepted;else buttons">
            </div>
            <ng-template #buttons>
               <div class="card-body">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem; color: white;">
                    <button type="button" class="btn btn-success" (click)="onAccept(bid.id,bid.bidderEmail)">Accept</button>
                    
                    <button type="button" class="btn btn-danger" (click)="onDecline(bid.id,bid.bidderEmail)">Decline</button>
               </div>
               </div>
                
            </ng-template>



    </div>
    <div class="card-body">
    </div>
    <div class="card-footer text-muted">
        {{bid.date}}
    </div>
</div>