<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=alert class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Trade Created!</strong> Your trade will now be available for other users to see!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>

<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=confirm class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Request added!</strong> We hope someone offers you this one!
        <button (click)="closeConfirm()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>

<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=error class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Oopsie!</strong> You can't request the same card you are offering!
        <button (click)="closeError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>




<div *ngIf="collectionInitialized" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select the Card You Want To Trade</p>
    <hr class="my-4">
    <div >
        <div class="row row-flex">
            <app-hostcard *ngFor="let c of hostCollection" [card]="c" [setSelected]="selectHostCard"></app-hostcard>
        </div>
    </div>


  </div>


  <div *ngIf="conditionSelector" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select Your Cards Condition.</p>
    <hr class="my-4">
  <div  class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Mint')" > Mint
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Near Mint')"> Near Mint
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Played')"> Played
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Heavily Played')" > Heavily Played
      </label>
  </div>
</div>







<div *ngIf="showCardset" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select The Card(s) You Want In Return</p>
    

      
  
    <div class="form-group">
      <div class="btn-group" role="group" aria-label="Basic example">
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <input class="form-control" type="text" placeholder="Search by Name" #name>
      
      <ul></ul>
        <select class="form-control" #typesfilter>
        <option>All Types</option>
        <option>Water</option>
        <option>Fairy</option>
        <option>Darkness</option>
        <option>Fire</option>
        <option>Lightning</option>
        <option>Grass</option>
        <option>Fighting</option>
        <option>Psychic</option>
        <option>Dragon</option>
        <option>Metal</option>
        <option>Colorless</option>
        </select>
      <ul></ul>
        <select class="form-control" #subtypefilter>
            <option>All Subtypes</option>
            <option>Stadium</option>
            <option>MEGA</option>
            <option>V</option>
            <option>Item</option>
            <option>Level Up</option>
            <option>Stage 2</option>
            <option>BREAK</option>
            <option>Stage 1</option>
            <option>VMAX</option>
            <option>Rocket's Secret Machine</option>
            <option>Basic</option>
            <option>Pokémon Tool</option>
            <option>Technical Machine</option>
            <option>EX</option>
            <option>LEGEND</option>
            <option>Special</option>
            <option>TAG TEAM</option>
            <option>Rare Holo</option>
            <option>GX</option>
            <option>Supporter</option>
            <option>Restored</option>
            </select>
            <ul></ul>
            <select class="form-control" #supertypefilter>
              <option>All supertype</option>
              <option>Pokémon</option>
              <option>Energy</option>
              <option>Trainer </option>
              </select>
              <ul></ul>
              <select class="form-control" #rarityfilter>
                <option>All Rarities </option>
                <option>Rare</option>
                <option>Rare Holo</option>
                <option>Common</option>
                <option>Uncommon</option>
                <option>Rare Holo EX</option>
                <option>Rare Holo GX</option>
                <option>Rare Ultra</option>
                <option>Rare Promo</option>
                <option>Rare Secret</option>
                <option>Rare Prime</option>
                <option>V</option>
                </select>
                <ul></ul>
                <button type="button" class="btn btn-success" (click)="loadCardset(name.value,typesfilter.value,subtypefilter.value,supertypefilter.value,rarityfilter.value)">Search</button>
</div>
</div>
    <hr class="my-4">
<div *ngIf="start">
    <div class="row row-flex">
        <app-willingtoacceptcard *ngFor="let c of wholeCardset.cards" [card]="c" [setSelected]="selectWTACard"></app-willingtoacceptcard>
    </div>
    <button type="submit" class="btn btn-primary btn-large btn-block" (click)="createTrade()"  style="z-index: 9; position:fixed; bottom: 0px; left: 0px;" >Send</button>
</div>
</div>