<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=alert class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Trade Created!</strong> Your trade will now be available for other users to see!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>

<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=confirm class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Request added!</strong> We hope someone offers you this one!
        <button (click)="closeConfirm()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>

<div class="modal-body" style="padding:0px; position:fixed;top: 80px; left:535px; z-index: 10; ">
    <div *ngIf=error class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Oopsie!</strong> You can't request the same card you are offering!
        <button (click)="closeError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>




<div *ngIf="collectionInitialized" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select the Card You Want To Trade</p>
    <hr class="my-4">
    <div >
        <div class="row row-flex">
            <app-hostcard *ngFor="let c of hostCollection" [card]="c" [setSelected]="selectHostCard"></app-hostcard>
        </div>
    </div>


  </div>


  <div *ngIf="conditionSelector" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select Your Cards Condition.</p>
    <hr class="my-4">
  <div  class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Mint')" > Mint
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Near Mint')"> Near Mint
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Played')"> Played
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options"  autocomplete="off" (click)="setCondition('Heavily Played')" > Heavily Played
      </label>
  </div>
</div>







<div *ngIf="showCardset" class="jumbotron">
    <h1 class="display-3">Create Trade</h1>
    <p class="lead">Select The Card(s) You Want In Return</p>
    <hr class="my-4">
<div *ngIf="showCardset">
    <div class="row row-flex">
        <app-willingtoacceptcard *ngFor="let c of wholeCardset" [card]="c" [setSelected]="selectWTACard"></app-willingtoacceptcard>
    </div>
    <button type="submit" class="btn btn-primary btn-large btn-block" (click)="createTrade()">Send</button>
</div>
</div>