<ol class="breadcrumb">
    <ul class="breadcrumb-item active" style="font-size: medium;font-weight: 300;"></ul>
    <div class="form-group">
       
        <div class="btn-group" role="group" aria-label="Basic example">
            <ul></ul>
            <ul></ul>
            <ul></ul>
        <input class="form-control" type="text" placeholder="Search by Name" #name>
        <ul></ul>
        <select class="form-control" #typesfilter>
          <option>All Types</option>
          <option>Water</option>
          <option>Fairy</option>
          <option>Darkness</option>
          <option>Fire</option>
          <option>Lightning</option>
          <option>Grass</option>
          <option>Fighting</option>
          <option>Psychic</option>
          <option>Dragon</option>
          <option>Metal</option>
          <option>Colorless</option>
          </select>
          <ul></ul>
        <select class="form-control" #subtypefilter>
              <option>All Subtypes</option>
              <option>Stadium</option>
              <option>MEGA</option>
              <option>V</option>
              <option>Item</option>
              <option>Level Up</option>
              <option>Stage 2</option>
              <option>BREAK</option>
              <option>Stage 1</option>
              <option>VMAX</option>
              <option>Rocket's Secret Machine</option>
              <option>Basic</option>
              <option>Pokémon Tool</option>
              <option>Technical Machine</option>
              <option>EX</option>
              <option>LEGEND</option>
              <option>Special</option>
              <option>TAG TEAM</option>
              <option>Rare Holo</option>
              <option>GX</option>
              <option>Supporter</option>
              <option>Restored</option>
              </select>
        <ul></ul>
        <select class="form-control" #supertypefilter>
                <option>All supertype</option>
                <option>Pokémon</option>
                <option>Energy</option>
                <option>Trainer </option>
                </select>
        <ul></ul>
        <select class="form-control" #rarityfilter>
                  <option>All Rarities </option>
                  <option>Rare</option>
                  <option>Rare Holo</option>
                  <option>Common</option>
                  <option>Uncommon</option>
                  <option>Rare Holo EX</option>
                  <option>Rare Holo GX</option>
                  <option>Rare Ultra</option>
                  <option>Rare Promo</option>
                  <option>Rare Secret</option>
                  <option>Rare Prime</option>
                  <option>V</option>
                  </select>
                  <ul></ul>
        <button type="button" class="btn btn-success" (click)="loadCardsWithFilter(name.value,typesfilter.value,subtypefilter.value,supertypefilter.value,rarityfilter.value)">Search</button>
    </div>
    </div>
</ol>
<div class="modal-body" style="padding:0px; position:fixed; top: 30px; left:540px; z-index: 10;">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Card Added!</strong> This card will now be included in your collection.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
<div class="modal-body" style="padding:0px; position:fixed; top: 30px; left:540px; z-index: 10;">
    <div *ngIf="alertWishlist" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Card Added!</strong> This card will now be included in your wishlist.
        <button (click)="closeAlertWishlist()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
</div>
<hr class="mb-5" [ngStyle]="{backgroundImage:'https://i.imgur.com/y3Vt8R8.png'}">
<div *ngIf="start">
    <div class="row row-flex" *ngIf="user$ | async as user; else" [ngStyle]="{backgroundImage:'https://i.imgur.com/y3Vt8R8.png'}">
        <app-card *ngFor="let c of cards.cards" [card]="c" [setSelected]="addNewCardToCollection" [setSelectedForWishlist]="addNewCardToWishlist"></app-card>
        <button type="submit" class="btn btn-primary btn-large btn-block" (click)="setCards(user.email)" style="z-index: 9; position:fixed; bottom: 0px; left: 0px;">Send</button>
    </div>
</div>