<div class="card mb-3" *ngIf="showSeeTrade;else showbid">
    <h4 class="card-header" style="background-color: greenyellow;">Available</h4>
    <div class="card-body">
        <h4 class="card-subtitle text-muted"></h4>
        <a [routerLink]="['/searchuser/', trade.hostEmail]">{{trade.hostEmail}}</a>
    </div>
    <img style="height: 100%; width: 100%; display: block;" src={{trade.card.imageUrl}}>
    <div class="card-body">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Trade Information:</div>
            <div class="card-body">
                <h5> Condition: {{trade.condition}}</h5>
                <ul class="list-group list-group-flush">
                    <h5> Willing To Accept:</h5>
                    <h5 class="list-group-item" style="color:black;" *ngFor="let c of trade.willingToAccept">{{c.name}} ( {{c.id}})</h5>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <a type="submit" class="btn btn-success btn-lg btn-block" role="button" style="color:white"  (click)="goBack()">See My Bid</a>
    </div>
    <div class="card-footer text-muted">
        {{trade.openingDate}}
    </div>
</div>





<ng-template #showbid>



    <div class="card mb-3">
        <h4 *ngIf="bid.rejected" class="card-header" style="background-color:red;">Rejected
        </h4>
        <h4 *ngIf="bid.rejected==false" class="card-header" style="background-color:yellow;">Pending
        </h4>
        <div class="card-body">
            <h4 class="card-subtitle text-muted"></h4>
        </div>
        <img style="height: 100%; width: 100%; display: block;" src={{bid.card.imageUrl}}>
        <div class="card-body">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Trade Information:</div>
                <div class="card-body">
                    <h4>Offered To: </h4>
                    <h5 [routerLink]="['/searchuser/', bid.hostEmail]">{{bid.hostEmail}} </h5>

                    <h4 *ngIf="bid.accepted; else rejected">
                        Status: Accepted
                        <ul></ul>
                        <div><a type="submit" class="btn btn-success btn-lg btn-block"   style="color:white" role="button" (click)="bidderVerification(bid.tradeId)" >Complete Trade</a>
                        </div>

                    </h4>
                    <ng-template #rejected>

                        <h5 *ngIf="bid.rejected;else pending">
                            Status: Rejected
                        </h5>
                        <ng-template #pending>
                            <h5 class="card-body">
                                Status: Pending
                            </h5>
                        </ng-template>
                    </ng-template>

                </div>


            </div>
            <a type="submit" class="btn btn-info btn-lg btn-block" role="button" (click)="seeTrade(bid.tradeId)" style="color:white">See Trade</a>

        </div>
        <div class="card-body">
        </div>
        <div class="card-footer text-muted">
            {{bid.date}}
        </div>
    </div>
















</ng-template>