<section id="profile" class="container">
    <div class="row mt-5">
        <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card" *ngIf="user$ | async as user; else ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-details">
                <div class="col-12">
                    <img src="{{ databaseUser.photoUrl }}" class="rounded-circle img-thumbnail" alt="profile">
                    <h5>{{ databaseUser.userName}}</h5>
                    <p>
                        {{user.email}}
                    </p>

                    <hr>
                    <span>{{ databaseUser.bio }}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="mb-5">
<div class="row row-flex" *ngIf="user$ | async as user; else">
    <app-collection-card *ngFor="let c of cards" [card]="c"></app-collection-card>
</div>